.ant-breadcrumb-link:hover {
  background-color: transparent !important;
  color: black;
  cursor: pointer;
}

.ant-breadcrumb-link {
  text-transform: capitalize;
  transition: all 0.25s linear;
}

.ant-input-search-button {
  font-weight: 600;
}

.ant-table-thead .ant-table-cell:last-child {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-upload-wrapper {
  display: flex !important;
  justify-content: space-between;
  margin-top: 2rem !important;
}
.ant-upload-drag {
  width: 32rem !important;
}

.ck.ck-editor__editable_inline {
  min-height: 20rem;
}
